 <div id="form">
  <h2>Login</h2>
 
  <form action="/login" method="POST">
    <label> Email:
      <input type="email" name="email" required placeholder="youremail@example.com" />
    </label>
  </br>
    <label>Password:
      <input type="password" name="password" required placeholder="your password"/>
    </label>
  </br>
    <button type="submit">Login</button>
  </form>
</div>
