<h1>Login</h1>
<form>
    <div class="login">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="LoginInputEmail" aria-describedby="emailHelp">
    </div>
    <div class="login">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="LoginInputPassword" placeholder="********">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>

  </form>
