 <div id="form">
  <h2>Login</h2>
 
  <form action="/auth/login" method="POST">
    <label class="log"> E-mail:   
      <input type="email" name="email" required placeholder="youremail@example.com" />
    </label>
  </br>
</br>
    <label class="log">Password:
      <input type="password" name="password" required placeholder="your password"/>
    </label>
  </br>
</br>
    <button class="button-form" type="submit">Login</button>
  </form>
</div>
