<h1>Signup</h1>

<form action="/auth/signup" method="post">
    <div class="signup">
        <label for="signup" class="form-label">Full name</label>
        <input name='username' type="email" class="form-control" id="signUpFullName" aria-describedby="emailHelp">
      </div>

    <div class="signup">
      <label for="signUpInputEmail" class="form-label">Email address</label>
      <input type="email" name= 'email' class="form-control" id="signUpInputEmail" aria-describedby="emailHelp">
    </div>

    <div class="signup">
      <label for="SignUpInputPassword" class="form-label">Password</label>
      <input type="password" name='password' class="form-control" id="SignUpInputPassword">
    </div>
    <button type="submit" class="btn btn-primary">Done</button>
  </form>