<h1><%= appTitle %> </h1>
<p></p>

<a href="/auth/signup"><button type="button" class="btn btn-SignUpHomepage">Sign up</button></a>
</br></br>
<a href="/auth/login"><button type="button" class="btn btn-LoginHomepage">Login</button></a>