<h1> Divide&Go </h1> 
<h3> Simplify Shared Expenses and Balance Tracking</h3>
<p>  Simplify the way you split bills and expenses.Effortlessly manage shared costs and keep </br> tabs on balances 
    with your roommates, travel buddies, social circles, and loved ones. </br></p>

<div class="loginForm">
    <h2>Login</h2>
<form action="/auth/login" method="POST">
<label>E-mail: 
<input type="email" name="email" required placeholder="Example@divide&go.com" />
</label>
</br>  
<label>Password: 
<input type="password" name="password" required placeholder="Password" />
</label>
<button type="submit">Login</button>
<p>Don't have an account? <a href="/auth/signup">Sign up</a></p>
</form>
</div>
