<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= appTitle %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
   <div class="logo">
    <img src="../images/Divide&Go.logo.png" alt="Logo" width="450" height="300" class="d-inline-block align-text-top">
   </div>
    
<nav> 
  <ul class="navbar">
    <li class="menu"> <a href="/"><button class="button">Home</a> </li>
    <li class="menu"> <a href="/auth/login"><button class="button">Login</a></li>
    <li class="menu"> <a href="#"><button class="button">Contact</a></li>
  </ul>
</nav>

<script src="/js/script.js"></script>
<%- body %>
  </body>
</html>
